<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="GrepperWPF.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <GrepperWPF.Properties.Settings>
            <setting name="MainWindowState" serializeAs="String">
                <value>Normal</value>
            </setting>
            <setting name="CopyLinesInSequence" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="RememberSearchCriteria" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RememberSearchPaths" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RememberExtensions" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RememberSearchCriteriaCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="RememberSearchPathsCount" serializeAs="String">
                <value>20</value>
            </setting>
            <setting name="RememberExtensionsCount" serializeAs="String">
                <value>50</value>
            </setting>
            <setting name="RememberWindowSettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RememberLastSearch" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="DoubleClickToOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="RightClickToCopy" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="EnterToOpen" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShiftDoubleClickToReveal" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ShiftEnterToReveal" serializeAs="String">
                <value>True</value>
            </setting>
        </GrepperWPF.Properties.Settings>
    </userSettings>
</configuration>